/**************************/
/* Hero Section */
/**************************/

.primary-span-heading {
  animation-name: primary-span;
  animation-duration: 0.8s;
}
@keyframes primary-span {

  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.primary-heading {
  animation-name: primary-span;
  animation-duration: 1.2s;
}

.primary-paragraph {
  animation-name: primary-span;
  animation-duration: 1.3s;
}

.hero-btn{
  animation-name: primary-span;
  animation-duration: 1.4s;
}
.hero-link{
  animation-name: primary-span;
  animation-duration: 1.4s;
}

.hero-img{
  animation-name: primary-span;
  animation-duration: 1.4s;
}




/**************************/
/* PAGE === WHO WE ARE */
/**************************/


.about-title {
  animation-name:  who-we-are;
  animation-duration: 0.8s;
}
@keyframes who-we-are {

  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.about-tittle {
  animation-name:  who-we-are;
  animation-duration: 1s;
}
.about-para {
  animation-name:  who-we-are;
  animation-duration: 1.2s;
}
.about-bton {
  animation-name:  who-we-are;
  animation-duration: 1.4s;
}
.about-link {
  animation-name:  who-we-are;
  animation-duration: 1.4s;
}


/**************************/
/* PAGE === Our Project */
/**************************/

.project-title {
  animation-name:  our-project;
  animation-duration: 1.4s;
}
@keyframes our-project {

  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.primary-title3 {
  animation-name:  our-project;
  animation-duration: 1.5s;
}
.project-bton{
  animation-name:  our-project;
  animation-duration: 1.6s;
}


/**************************/
/* PAGE === Contact Us */
/**************************/

.form-title {
  animation-name:  our-project;
  animation-duration: 0.8s;
}
@keyframes our-project {

  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.form-tittle {
  animation-name:  our-project;
  animation-duration: 0.9s;
}
.label {
  animation-name:  our-project;
  animation-duration: 1s;
}
.inputs {
  animation-name:  our-project;
  animation-duration: 1.1s;
}
