/**************************/
/* Hero Section */
/**************************/

.primary-span-heading {
  animation-name: primary-span;
  animation-duration: 0.8s;
}
@keyframes primary-span {

  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.primary-heading {
  animation-name: primary-span;
  animation-duration: 1.2s;
}

.primary-paragraph {
  animation-name: primary-span;
  animation-duration: 1.3s;
}

.hero-btn{
  animation-name: primary-span;
  animation-duration: 1.4s;
}
.hero-link{
  animation-name: primary-span;
  animation-duration: 1.4s;
}

.hero-img{
  animation-name: primary-span;
  animation-duration: 1.4s;
}


/**************************/
/* Client Section */
/**************************/

/* .client-img1{
  animation-name: client-img;
  animation-duration: 2s;
}
@keyframes client-img {

  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.client-img2{
  animation-name: client-img;
  animation-duration: 2.2s;
}
.client-img3{
  animation-name: client-img;
  animation-duration: 2.4s;
}
.client-img4{
  animation-name: client-img;
  animation-duration: 2.6s;
}
.client-img5{
  animation-name: client-img;
  animation-duration: 2.8s;
}
.client-img6{
  animation-name: client-img;
  animation-duration: 3s;
} */



/**************************/
/* Services Section */
/**************************/


.servicessss{
  animation-name: service-sections;
  animation-duration: 4s;
}

@keyframes service-sections {

  0% {
    transform: translateY(300px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}